
#==================================================
# general
#==================================================
.env

#==================================================
# outputs
#==================================================
.allure/
output/

#==================================================
# inputs
#==================================================

#==================================================
# node
#==================================================
node_modules/

#==================================================
# python
#==================================================
.venv/
.env/
.ruff_cache/
__pycache__/
pytest_results/

#==================================================
# editors
#==================================================
.idea/
